---
---

// Text
$nb-yellow-color: #fff433;
$nb-lavender-color: #9b59d0;
$nb-black-color: #2d2d2d;
$section-headings-color: $nb-lavender-color;
$body-text-color: $nb-black-color;
$body-link-color: royalblue;
$body-link-color: mediumblue;

@import "{{ site.theme }}";

.page-header {
    background-color: $section-headings-color;
    background-image: url("../nbula_logo_swirl_on_transparent.png"), linear-gradient(90deg, $nb-black-color, $nb-black-color, $nb-lavender-color, $nb-lavender-color, white, white, $nb-yellow-color, $nb-yellow-color);
    background-origin: content-box, padding-box;
    background-position: left, center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid $nb-black-color;
    height: 10rem;
    padding: 0.5rem;
    text-align: right;
}
.project-name, .project-tagline {
    display: none;
}
.site-footer-credits, .site-footer-credits > a {
    color: lightgrey;
}

.notice1 {
  border: 1px solid black;
}
.notice2 {
  border-top: 1rem solid $nb-yellow-color;
  border-right: 1rem solid white;
  border-bottom: 1rem solid $nb-lavender-color;
  border-left: 1rem solid $nb-black-color;
}
.notice3 {
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 1rem;
}
.notice3 > p {
  margin: 1rem 0 0 0;
}
